body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(assets/currency.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-app {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}